
/*
 * Copyright (C) 2023  S60W79
 *
 * This program is free software: you can redistribute it and/or modify
 * it under the terms of the GNU General Public License as published by
 * the Free Software Foundation; version 3.
 *
 * darkeye.ursses is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 *
 * You should have received a copy of the GNU General Public License
 * along with this program.  If not, see <http://www.gnu.org/licenses/>.
 */

 body {
        background-color: #222;
        color: #fff;
        font-family: sans-serif;
        font-size: 16px;
      }
html, body { height: 100%; width: 100%; margin: 0; }
      form, box{
        border-radius: 10px;
        width:100%;
        max-width: 700px;
        font-size:25px;
        padding: 20px;
        margin: auto;
        margin-top: 50px;
      }
      form{
        background-color: #444;
        z-index: 700;
      }
      box{
        background-color: #444;
        width: 98%;
        z-index: 600;
      }
      

      input, select{

        display: block;
        margin-bottom: 10px;
        border: none;
        background-color: #eee;
        padding: 10px;
        border-radius: 5px;
        width: 100%;
      }

      input[type="submit"], button{
        position:relative;
        width:100%;
        background-color: #ffcc00;
        border: 1px solid #222;
        color: #222;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;
        font-size:20px;
        margin-top:5px;
      }

      input[type="submit"]:hover {
        background-color: #f6b700;
      }
      input[type="text"], input[type="password"] {
        width:96%;
        margin-bottom: 0px;
        margin-top: 10px;
      }
	  
	  td input[type="text"] {
		  width:90%;
	  }
      
      a {
      color: #ffcc00;
      font-weight: bold;
    }

    a:hover {
      color: #f6b700;
    }
    .dialog-overlay {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: rgba(0, 0, 0, 0.5);
        justify-content: center;
        align-items: center;
        z-index: 900;
      }
        .dialog-box {
        background-color: #222;
        padding: 20px;
        border-radius: 5px;
        text-align: center;
        overflow:visible;
        z-index: 1000;
      }
      .side-menu-box, .listingBox {
        display:none;
        position: fixed;
        top: 0;
        right:0;
        bottom: 0;
        background-color: #222;
        color: #fff;
        padding: 20px;
        overflow-y: auto; /* Add vertical scrolling if the content exceeds the height of the menu box */
        
        border: 1px solid #ccc;
        border-radius: 10px;
      }
      .side-menu-box{
        left: auto;
        width: 50%;
        max-width: 500px; /* Set the maximum width for the menu box */
        z-index: 700;
      }
      .listingBox{
        left: 0;
        width: 90%;
        max-width: 600px; /* Set the maximum width for the menu box */
        z-index: 800;
      } 
      .list-entry {
        display:flex;
        color: #fff;
        background-color: #333;
        padding: 10px;
        transition: background-color 0.3s ease-in-out;
        overflow:auto;
      }
      .entry-label {
        padding:10px;
        background-color: #222;
        border-radius: 10px;
      }
        
      .list-entry:hover {
        background-color: #444;
      }

      .singleBikeDia, .stationDia, .side-menu-box, .dialog-overlay, .error, .advancedSide, .numberTipp, .adv, #bookTimes{
        /*Initially invisible.*/
        display: none;
      }
      
      .advancedSide{
        position:relative;
        width:99%
      }
	  
	  .displayBlock {
		  display: block !important;
	  }
	  
      .critic{
        background-color: #ff4e00;
      }
      .warning:hover {
        background-color: #ff3000;
      }
      .comfort:hover {
        background-color: #2ffa00;
      }
      #modifyRental{
      z-index: 850;
      }
    
.license{
  font-style: italic;
  font-size: 13px;
  padding-top:20px;

}
label{
  display:flex;
}

      

